<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>日主</key>
	<dict>
		<key>control</key>
		<dict>
			<key>同性</key>
			<string>偏官</string>
			<key>异性</key>
			<string>正官</string>
		</dict>
		<key>support</key>
		<dict>
			<key>同性</key>
			<string>偏印</string>
			<key>异性</key>
			<string>正印</string>
		</dict>
		<key>consume</key>
		<dict>
			<key>同性</key>
			<string>偏财</string>
			<key>异性</key>
			<string>正财</string>
		</dict>
		<key>enhance</key>
		<dict>
			<key>同性</key>
			<string>食神</string>
			<key>异性</key>
			<string>伤官</string>
		</dict>
		<key>equal</key>
		<dict>
			<key>同性</key>
			<string>比肩</string>
			<key>异性</key>
			<string>劫财</string>
		</dict>
	</dict>
	<key>FiveElementControl</key>
	<dict>
		<key>木</key>
		<string>土</string>
		<key>火</key>
		<string>金</string>
		<key>土</key>
		<string>水</string>
		<key>金</key>
		<string>木</string>
		<key>水</key>
		<string>火</string>
	</dict>
	<key>FiveElementEnhance</key>
	<dict>
		<key>木</key>
		<string>火</string>
		<key>火</key>
		<string>土</string>
		<key>土</key>
		<string>金</string>
		<key>金</key>
		<string>水</string>
		<key>水</key>
		<string>木</string>
	</dict>
</dict>
</plist>
